<!doctype html>
<html lang="en">
  <head>
      <title>Unicorn Tweeters</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/journal/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <link rel="shortcut icon" type="image/png" href="/static/images/unicorn.png"/>
  </head>

  <body>

  <div class="page">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <img class="unicorn" src="/static/images/unicorn.png"/> <h1 class="unicorn-heading">Unicorn Tweeters</h1>
      </nav>
  </div>

  <div class="completed-section">
      <h2>Error: Action could not be completed</h2>

      <div class="back">
          <button class="btn btn-lg btn-primary btn-block" onclick="javascript:history.back()">Back</button>
      </div>
  </div>
</body>
</html>
